@charset "UTF-8";

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				/*\.class|(li|a):hover/
 * @level sep	ul
 */


ul.dropdown {
 font-weight: bold;
    background-color: #8299BB;
    width: 100%;
}

    ul.dropdown>li>a { text-transform: uppercase; } /* just top-level li's */ 
    ul.dropdown li {
        padding: 7px 10px;
        border-style: none;
        background-color: #8299BB;
        color: #fff;
        }

    ul.dropdown li.hover,
    ul.dropdown li:hover {
     background-color: #A2B3CC;
     color: #fff;
    }

    ul.dropdown a { display: block; }
    ul.dropdown a:link,
    ul.dropdown a:visited	{ color: #fff; text-decoration: none; }
    ul.dropdown a:hover		{ color: #fff; }
    ul.dropdown a:active	{ color: #ddd; }


    /* -- level mark -- */

    ul.dropdown ul {
        width: 150px;
        margin-top: 0px;
    }

        ul.dropdown ul li {
            font-weight: normal;
            background-color: #A2B3CC;
        }
        ul.dropdown ul li a:hover { text-decoration: underline; }
        


/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */


ul.dropdown *.dir {
 padding-right: 20px;
 background-image: url(../../../../images/default/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}


/* -- Components override -- */

ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(../../../../images/default/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
 background-image: url(../../../../images/default/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,
ul.dropdown-upward ul *.dir {
 background-image: url(../../../../images/default/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir {
 padding-right: 10px;
 padding-left: 15px;
 background-image: url(../../../../images/default/nav-arrow-left.png);
 background-position: 0 50%;
}