@model Dinamico.Models.StartPage

@{
    //N2.ContentItem CommitteeList = N2.Find.Items.Where.Title.Like("Committees").Select()[0];
}

@section page {

    <div class="row">
        <div class="col-md-7">

            <!-- image -->
            @{ Html.RenderPartial("LayoutPartials/PreContent"); }

            <!-- text -->
	        @Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)
            
            <!-- news -->
            @{ Html.DroppableZone("News").Render(); }

        </div>
        <div class="col-md-4">

            <!-- events --> 
            @{ Html.DroppableZone("Events").Render(); }

        </div>
    </div>
    <div class="row">@{ Html.RenderPartial("LayoutPartials/PostContent"); }</div>

}