@using N2.Definitions
@model Dinamico.Models.ContentPage
@{
	Content.Define(re =>
	{
		//re.Add(new GroupChildrenAttribute(N2.Definitions.GroupChildrenMode.PublishedYearMonth));
		re.Title = "News Container";
		re.CheckBox("ShowDescendants", "Show all descendants");
		re.Add(new N2.Details.EditableDefinitionAttribute { Name = "ListingType", Title = "Listed type", TemplateSelection = true, RemovedTypes = new[] { typeof(N2.Definitions.ISystemNode) }, DefaultValue = "ContentPage/News" });
		re.SortChildren(N2.Definitions.SortBy.PublishedDescending);
	});
}
@section main {
	<div class="row">
		<div class="span12">
			@Html.Partial("LayoutPartials/Content")

			<!-- TODO: Register a ContentList here using N2.ReusableParts -->

			@{ Html.DroppableZone("PostContent").Render(); }
			@{ Html.DroppableZone("BelowContent").Render(); }
		</div>
	</div>
}
