@model Dinamico.Models.ContentPage
@{
    Content.Define(re =>
    {
        re.Title = "Content page";
    });
}
@section main {
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("LayoutPartials/Content")
        @{ Html.DroppableZone("PostContent").Render(); }
        @{ Html.DroppableZone("BelowContent").Render(); }
    </div>
</div>
}
