@model Dinamico.Models.ContentPage
@{
	Content.Define(re => 
	{
		re.Title = "Content page (two column)";
	});
}

@section main {
	<div class="row-fluid">
		<div class="span12">
			@Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			@{ Html.DroppableZone("PostContent").Render(); }
		</div>
		<div class="span6">
			@{ Html.DroppableZone("RightMargin").Render(); }
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			@{ Html.DroppableZone("BelowContent").Render(); }
		</div>
	</div>
}

@{ Html.DroppableZone("PostContent").Render(); }