@model Dinamico.Models.ContentPage
@{
	Content.Define(re => 
	{
		re.Title = "Content page (right margin)";
	});
}

@section main {
    <div class="row-fluid">
        <div class="span12">
            @Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <div class="entry-content">
	            @Content.Display.Text
            </div>
            @{ Html.DroppableZone("PostContent").Render(); }
        </div>
        <div class="span4">
            @{ Html.DroppableZone("RecursiveRight").Render(); }
            @{ Html.DroppableZone("RightMargin").Render(); }
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            @{ Html.DroppableZone("BelowContent").Render(); }
        </div>
    </div>
}

@{ Html.DroppableZone("PostContent").Render(); }