timestamp=1/30/2013 8:34:49 AM
version=1
assembly=3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2;LCSPTO.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.PageModelBase
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.ContentPage
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.PartModelBase
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.ContentPart
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.FreeForm
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.LanguageIntersection
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;Dinamico.Models.StartPage
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;LCSPTO.Mvc.FullCalendar
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;LCSPTO.Mvc.Form
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;LCSPTO.Mvc.FormField
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;LCSPTO.Mvc.NewsListContainerLink
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.ContentItem;LCSPTO.Mvc.NewsList
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;LCSPTO.Mvc.Controllers.FormController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;LCSPTO.Mvc.Controllers.FormFieldsController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.ContentPagesController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.ContentPartsController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.FallbackController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.FreeFormController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.LanguageIntersectionController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.MembershipController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.StartPageController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Web.Mvc.IController;Dinamico.Controllers.TestController
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];LCSPTO.Mvc.Controllers.FullCalendarAdapter
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];LCSPTO.Mvc.Controllers.NewsListAdapter
3ee4dbba-0d83-4c0a-822d-2dcbf6d2e0a2=System.Object[N2.Plugin.IPlugin];none
assembly=b476804b-5207-46d3-abe2-c563f24c84b2;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
b476804b-5207-46d3-abe2-c563f24c84b2=N2.ContentItem;N2.ContentItem
b476804b-5207-46d3-abe2-c563f24c84b2=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
b476804b-5207-46d3-abe2-c563f24c84b2=N2.ContentItem;N2.Edit.CreatorItem
b476804b-5207-46d3-abe2-c563f24c84b2=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
b476804b-5207-46d3-abe2-c563f24c84b2=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
b476804b-5207-46d3-abe2-c563f24c84b2=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
b476804b-5207-46d3-abe2-c563f24c84b2=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
b476804b-5207-46d3-abe2-c563f24c84b2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
b476804b-5207-46d3-abe2-c563f24c84b2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
b476804b-5207-46d3-abe2-c563f24c84b2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
b476804b-5207-46d3-abe2-c563f24c84b2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
b476804b-5207-46d3-abe2-c563f24c84b2=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=bd6435d8-ac32-407b-b73f-cc8034c8732a;N2.Extensions, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneSearcher
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.ContentListContainerLink
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.ContentList
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.RawHtml
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.Slideshow
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.SlideshowDirectoryInclude
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.ContentItem;N2.Web.SlideshowFileInclude
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.Plugin.IPluginInitializer;none
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Web.Mvc.IController;none
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.ContentListAdapter
bd6435d8-ac32-407b-b73f-cc8034c8732a=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RawHtmlAdapter
bd6435d8-ac32-407b-b73f-cc8034c8732a=System.Object[N2.Plugin.IPlugin];none
assembly=acac2803-ebd7-4875-99ac-eedbe900d209;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Content.Navigation.ChildGroupContainer
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Externals.ExternalItem
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.FileSystem.Items.File
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Security.Items.User
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Security.Items.UserList
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.RootPartBase
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.ActivityPart
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.LanguagesPart
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.RootBase
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.StatisticsPart
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Management.Myself.WizardsPart
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
acac2803-ebd7-4875-99ac-eedbe900d209=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
acac2803-ebd7-4875-99ac-eedbe900d209=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
acac2803-ebd7-4875-99ac-eedbe900d209=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
acac2803-ebd7-4875-99ac-eedbe900d209=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
acac2803-ebd7-4875-99ac-eedbe900d209=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.LanguageMenu
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.New
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
acac2803-ebd7-4875-99ac-eedbe900d209=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=0380baca-a0ad-4888-9ca9-99a95c40d619;N2.Packaging, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
0380baca-a0ad-4888-9ca9-99a95c40d619=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
0380baca-a0ad-4888-9ca9-99a95c40d619=N2.ContentItem;none
0380baca-a0ad-4888-9ca9-99a95c40d619=N2.Plugin.IPluginInitializer;none
0380baca-a0ad-4888-9ca9-99a95c40d619=System.Web.Mvc.IController;none
0380baca-a0ad-4888-9ca9-99a95c40d619=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
0380baca-a0ad-4888-9ca9-99a95c40d619=System.Object[N2.Plugin.IPlugin];none
assembly=e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e;N2.Razor, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=System.Object[N2.Engine.ServiceAttribute];none
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=N2.ContentItem;none
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=N2.Plugin.IPluginInitializer;none
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=System.Web.Mvc.IController;none
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
e8406ae3-ed24-48ac-a8e2-8e4c3fe7525e=System.Object[N2.Plugin.IPlugin];none
