@model Dinamico.Models.ContentPart
@{ Content.Define(re =>
    {
        re.Title = "DocViewer";
        re.FileUpload("File");
        re.Text("Height");
    });
}

@if (Content.Has.File && Content.Has.Height)
{
    <iframe 
        width="100%" 
        height="@Content.Data.Height" 
        src="http://docs.google.com/viewer?embedded=true&url=@(Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.UriEscaped) + Content.Data.File)">

    </iframe>
}
else
{
    <div class="alert alert-warning">
        <h2>Embedded Document Viewer</h2>
        <p>No file selected or no height specified</p>
    </div>
}