@model lcspto_mvc.form

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>form</legend>

    <div class="display-label">FormName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormName)
    </div>

    <div class="display-label">EmailResponsesTo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailResponsesTo)
    </div>

    <div class="display-label">SaveResponses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaveResponses)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
