@model IEnumerable<lcspto_mvc.news>

@{
    ViewBag.Title = "Index";
    Markdown m = new Markdown();
}

@section head {
    <style type="text/css">
        #news { border-collapse: collapse; }
        #news td { vertical-align: top; border-bottom: 1px solid #999; }
    </style>
}

<table id="news">
@foreach (var item in Model) {
    <tr>
    <td style="width: 8em;">
        <div class="cbox" style="width: 5em; height: 5em; vertical-align: middle; text-align: center;">
        <h2>@item.PublishDate.ToString("ddd") <br />
            @item.PublishDate.ToString("M/d") </h2>
        </div>
    </td>
    <td>
        <div class="article">
            <h3>@Html.DisplayFor(modelItem => item.HeaderText)</h3>
            @Html.Raw(m.Transform(item.ArticleContent))
            <div style="clear: both;"></div>
        </div>
    </td>
    </tr>
}
</table>
