@import url(../../Templates/UI/Css/Layout.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);

/* enable Droid Sans font */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(/Assets/dropdown.base.css);  
@import url(/Assets/dropdown.theme.css); 

h1, h2, h3, h4, h5, h6, h7 { font-weight: normal; color: #555; margin: 1em 0 0 0; }
h1:first-child { margin-top: 0; }
h1 { font-size: 225%; font-weight: 300; color: #333; margin-top: 0; text-transform: uppercase; }
h2 { font-size: 125%; font-weight: 400; }
h3 { font-size: 125%; font-weight: bold; }
h4 { padding: 0; margin: 0; font-weight: bold; color: #D79600; font-size: 90%; text-transform: uppercase; }

td *:first-child { padding: 0; margin: 0; }

a:link, a:visited { color: Navy; }
a:hover { color: orange; text-decoration: underline !important; } 
ul.menu { padding: 0; list-style-type:none; }
ul.menu a { text-decoration: none; }
.secondary h4, 
.secondary h4 a { margin-bottom: 0; padding-bottom: 0; color: #333; }


#title { float: left; }
#title>h1 { margin: 0; }
#logindisplay { float: right; }

/* header */ 
	#headerContainer { position: relative; width: 100%; margin: 0; padding: 0; z-index: 0; }
	#header { position: relative; margin: 0; height: 124px;  }	
	#header .siteLogo { 
		position: absolute; 
		left: 0; top: 0; 
		padding-left: 0;
		padding-top: 0;
		display: block;
		text-align: left;
    }
	.siteHeader { color: #666; margin: 0; padding: 0; display: none; }
	.topMenu { position:absolute; bottom: 0; right: 0; margin: 0; font-size: 19px; }
		.topMenu li { float: left; padding: 0.2em 0.6em 0.8em 0.6em; background: #feea98; margin: 0 0 0 0.5em; }
		.topMenu a,
		.topMenu a:visited { color:#666; display:block; }
		.topMenu .current a,
		.topMenu .trail a { font-weight:bold; text-decoration: none !important; }
		.topMenu .current { background: #fff; !important; }
		
	.languageMenu { position:absolute; top:10px; right:20px; }
		.languageMenu a { opacity:.4;}
		.languageMenu .current { cursor:default; opacity:1;}
		.languageMenu a:hover { opacity:1;}		


/* body */
body, html { font-family: 'Segoe UI', 'Trebuchet MS', 'Open Sans', Sans-Serif; font-size: 14px; background: #8C9CB0; color: #333; padding: 0; margin: 6px; }
#wrap { min-width: 960px; width: 87%; margin: 0 auto; padding: 1em; background: #fff; }
#pageOuter { position: relative; z-index: 10; padding-top: 0; background: #fff; }
	#page { }
		#menu { float: left; line-height: 140%; width: 203px; padding-top: 0; }
		#menu:first-child .uc { width: 199px; 
			margin-left: 16px; padding-bottom: 1cm; margin-bottom: 0; }
		#menu h4 { margin-top: 0; padding-top: 20px; height: 20px; font-size: 17px; display: block; }
		#content { 
			position: relative;
			margin-left: 203px;  
			padding-left: 20px; 
			min-height: 3in; 
			padding-bottom: 0.5in;
			z-index: 10; }
			
			#main { margin-right: 2em; padding-top: 40px;  }
			#extras { float: right; width: 200px; }

#footer { margin-top: 2em; padding-left: 24px; color: #777; border-top: 1px solid #777; padding-top: 0.4em; }


		
/* side menu */
.subMenu { line-height: 100%; }
	.menu ul ul { margin: 0 0 1em 0.5em; padding: 0; }
	.subMenu a,
	.subMenu a { display:block; padding:0.4em 0; _height:1px; color:#333; }
	.subMenu .trail > a { color:#76C754; }
	.subMenu .current > a { color:#76C754; font-weight:bold; text-decoration: none !important; }
	.subMenu ul { margin-left:10px; padding-left: 10px; }

/* lists */
.list { padding-bottom:6px; background-position:50% 100%; }
	.list .item { padding:5px; }
	.list a { display:block; font-weight:bold; }
	.list .a0 { background: #f4f8ed url(list_dark.gif) no-repeat 50% -1px; }
	.list,
	.list .a1 { background: #fff url(list_light.gif) no-repeat 50% -1px; }

/* path */
.path { margin-bottom:10px; }
.path .current { color:#333; }
.path a.current:hover { cursor:default; text-decoration:none; }

/* sitemap */
#main ul { list-style:circle; margin-left:20px; }

/* content */
.introduction { font-size:1.1em; font-style:italic; }

/** date **/
.date { font-size:small; color:#666; display:block; }

/* columns */
.columns .left { float:left; width:48%; }
.columns .right { float:right; width:48%; }

/* login */
.login .tb { width:130px; }
.login .ff { margin-bottom:5px; }
.register td { padding:0 5px 5px 0; }

/* gallery */
.thumbnail { opacity:.4; }
.thumbnail:hover, .selected { opacity:1; }
#thumbnails {padding-bottom:10px;}
#thumbnails .text { display:none; }
.thumbnail {margin-bottom:10px;margin-right:5px;}

/* news */
.intro {font-size:1.1em;font-style:italic;}

/* comments */
.commentList { border-top:solid 1px #D0CFCB; margin-top:10px;}

