
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="h" runat="server">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!--
    <title id="t" runat="server" title='<%$ CurrentPage: Title %>' />
    <asp:ContentPlaceHolder ID="Head" runat="server">
		<link rel="canonical" href="<%= CurrentPage != null ? CurrentPage.Url : Request.RawUrl %>" />
    </asp:ContentPlaceHolder>
	-->
	<link rel="stylesheet" href="style.css" />
</head>
<!-- <body<!--  class="<%= GetBodyClass() %>">-->
<body>
<form id="F" runat="server">

<div id="wrap">
<!--	<asp:ContentPlaceHolder ID="Top" runat="server">-->
	<div id="headerContainer">
		<div id="header">
			<n2:Display ID="dh" PropertyName="Header" Path="~/" runat="server" />
			<parts:TopMenu ID="tm" runat="server" />
			
			
			<!-- vvv -->
			<div class='uc top'>
				<a href="/" class="siteLogo"><img alt="Logo" src="lcs.png" /></a>
				<h2 class="siteHeader"><a href="./">Elix Technologies</a></h2>
			</div>
            <ul id="ctl00_Top_tm_tm" class="topMenu menu">
                <li class="current" id="menu_home"><a href="/">Home</a></li><li id="menu_webhosting">
					<a href="/web-hosting.aspx">Web Hosting</a></li><li id="menu_smallbusinesssolutions">
					<a href="/small-business-solutions.aspx">Business Solutions</a></li><li id="menu_residentialsolutions">
					<a href="/residential-solutions.aspx">Residential Solutions</a></li><li id="menu_aboutus">
					<a href="/about-us.aspx">About Us</a></li>
            </ul>
            <div class="languageMenu">
                <a href="/" class="language current" title="English (United Kingdom)">
                    <img src="../../N2/Resources/Img/Flags/GB.png" alt="English (United Kingdom)" style="border-width: 0px;" />
                </a><a href="/sv.aspx" class="language" title="Swedish (Sweden)">
                    <img src="../../N2/Resources/Img/Flags/SE.png" alt="Swedish (Sweden)" style="border-width: 0px;" />
                </a>
            </div>
			<!-- //vvv --> 
			
			<div style="clear: both;"></div>
		</div>
	</div>
	</asp:ContentPlaceHolder>
	<asp:ContentPlaceHolder ID="PageWrapper" runat="server">
		<div id="pageOuter">
		<div id="page" class="cf">
<!--			<asp:ContentPlaceHolder ID="PageTop" runat="server">
				<n2:EditableDisplay PropertyName="TopImage" runat="server" SwallowExceptions="true" />
			</asp:ContentPlaceHolder>
			<asp:ContentPlaceHolder ID="Menu" runat="server">-->
				<div id="menu" class="secondary">
					<parts:SubMenu ID="sm" runat="server" />
					<n2:DroppableZone ID="zsl" ZoneName="SiteLeft" runat="server" Path="~/" />
					<n2:DroppableZone ID="zl" ZoneName="Left" runat="server" />
					<n2:DroppableZone ID="rsl" ZoneName="RecursiveLeft" runat="server" />
					
					<!-- vvv --> 
					<div class="uc">
                    <h4>
                        <a href="/small-business-solutions.aspx">Business Solutions</a></h4>
                    <div id="ctl00_PageWrapper_Menu_sm_bsm" class="box">
                        <div class="inner box-inner">
                            <ul id="ctl00_PageWrapper_Menu_sm_m" class="subMenu menu">
                                <li id="menu_networking"><a href="/small-business-solutions/networking.aspx">Networking</a></li><li
                                    id="menu_pcmaintenance"><a href="/small-business-solutions/pc-maintenance.aspx">PC Maintenance</a></li><li
                                        id="menu_casestudies"><a href="/small-business-solutions/case-studies.aspx">Case Studies</a></li>
                            </ul>
                        </div>
                    </div>
					</div>
					<!-- //vvv --> 
					
				</div>
			<!--</asp:ContentPlaceHolder>-->
			<div id="content" class="">
				<!--<asp:ContentPlaceHolder ID="ContentAndSidebar" runat="server">-->

					<div id="main">
<div class="columns">
    <div class="left">
        <h1>Preferred&nbsp;Solutions</h1>
        <h2>We are proud to be the preferred technology solutions provider for small 
        to medium businesses and enterprises around North America. Please explore our 
        offerings on this site and contact us if you have any questions or if you 
        would like a no-obligation quotation or consultation. </h2>
    </div>
    
    <div class="right">
    
        <h4 style="margin-bottom: 0;">Elix Exclusive</h4>
        <h2 style="margin-top: 0;">Real People</h2>
        <p>Upon signing up for any of our hosted services, you will be assigned an 
        Account Representative, and you will be given a cell phone number which 
        can be used to reach your Account Representative any time, day or night, 
        in case of an emergency.</p>
        
        
        <h4 style="margin-bottom: 0;">Elix Exclusive</h4>
        <h2 style="margin-top: 0;">High Availability</h2>
        <p>Approach 100% guaranteed availability with our High Availability 
        solutions. See the <a href="High-Availability.aspx">High Availability</a>
        offerings for more details.</p>                            
            
    </div>
    <div style="clear: both;"></div>
</div>

						<!--<asp:ContentPlaceHolder ID="PreContent" runat="server">
							<n2:DroppableZone ID="zra" runat="server" ZoneName="RecursiveAbove" />
						</asp:ContentPlaceHolder>
						<asp:ContentPlaceHolder ID="Content" runat="server">
							<n2:Path ID="p" runat="server" VisibilityLevel="2" />
							<n2:EditableDisplay ID="dim" PropertyName="Image" SwallowExceptions="true" runat="server" />
							<asp:ContentPlaceHolder ID="TextContent" runat="server">
								<n2:EditableDisplay ID="dti" PropertyName="Title" SwallowExceptions="true" runat="server" />
								<n2:EditableDisplay ID="dte" PropertyName="Text" SwallowExceptions="true" runat="server">
									<HeaderTemplate><div id="textContent"></HeaderTemplate>
									<FooterTemplate></div></FooterTemplate>
								</n2:EditableDisplay>
							</asp:ContentPlaceHolder>
						</asp:ContentPlaceHolder>
						<asp:ContentPlaceHolder ID="PostContent" runat="server">
							<n2:DroppableZone ID="zc" ZoneName="Content" runat="server" />
							<n2:DroppableZone ID="zrb" runat="server" ZoneName="RecursiveBelow" />
						</asp:ContentPlaceHolder>-->
					</div>
                    <div id="extras" class="secondary">
                </div>
<!--					<asp:ContentPlaceHolder ID="Sidebar" runat="server">
						<div id="extras" class="secondary">
							<n2:DroppableZone ID="zrr" ZoneName="RecursiveRight" runat="server" />
							<n2:DroppableZone ID="zr" ZoneName="Right" runat="server" />
							<n2:DroppableZone ID="zsr" ZoneName="SiteRight" runat="server" Path="~/" />
						</div>
					</asp:ContentPlaceHolder>
				</asp:ContentPlaceHolder>-->

			</div>
		</div>
		<div id="footer">
			<a class="n2" title="N2 Open Source ASP.NET CMS" href="http://n2cms.com/">powered by n2 cms</a>
			<n2:Display ID="dft" PropertyName="FooterText" Path="~/" runat="server" />
		</div>
		</div>
	<!--</asp:ContentPlaceHolder>-->
</div>
</form>
</body>
</html>
