@model string[]
@{
    ViewBag.Title = "EditList";
}

<h2>Edit E-mail List</h2>

<p>Each e-mail list can contain up to 1000 recipients</p>

@using (Html.BeginForm()) {
    Html.EnableClientValidation();
    Html.ValidationSummary();
    
    <p>List name:<input type="text" name="[0]" value="@Model[0]" /></p>
    
    <p>E-mail addresses (1 per line):<br />
    <textarea name="[1]" rows="20" cols="50">@Model[1]</textarea></p>
    
    <div>
    <input type="submit" value="Save List" />
    </div>
}