body            { font-family: Candara, Serif; background: #485030; font-size: 11pt; }
h1, h2, h3      { font-family: Candara, Sans-Serif; font-weight: normal; }
h3              { font-size: 13pt; font-weight: bold; }
footer { margin-top: 2em; padding-top: 0.5em; border-top: 1px solid gray; color: Gray; }

table td, table th { text-align: left; vertical-align: top; }
th          { border-bottom: 1px solid silver; }
#container  { width: 1000px; padding: 20px; background: #fff; margin: 1em auto; }
#copy       { padding-top: 0.5em; font-size: smaller; border-top: 1px solid silver; color: #666; }

.article    { line-height: 155%; }

/* column layout elements */ 
.rbox { background: #eee; padding: 1em; margin-bottom: 1em; }
.rbox h1, .rbox h2, .rbox h3, .rbox h4, .rbox h5 { margin: 0; }


/* Other */ 
#logindisplay { float: right; }